@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #15132b;
  --content-color: #0D0B21;
}

/* Tailwind Styles */


.side_bar {
  @apply flex flex-col gap-8 fixed items-stretch bg-[color:var(--main-color)] p-5 h-screen text-white shadow-xl shadow-black z-10;
}

.nav-bar{
  @apply flex items-center justify-between bg-[color:var(--main-color)] h-[80px] text-white p-10 z-0;
}

.content-wrapper{
  @apply bg-[color:var(--content-color)] overflow-x-scroll text-white;
}

.flag{
  @apply border-2 rounded-full;
}

input.search-btn {
  width: 260px;
  border-radius: 20px;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("/assets/images/search.svg") no-repeat 13px;
  background-color: #211A75;
}

.icon{
  @apply flex items-center gap-3;
}

.page-redirect{
  @apply px-5 py-3 bg-[color:#0D82DA] w-[200px] h-[120px] rounded-lg;
}

.progress {
  margin: 50px auto;
  padding: 0px;
  width: 300px;
  background: white;
  height: 13px;
  overflow: hidden;
  @apply rounded-lg;
}

.progress .progress__bar {
  height: 100%;
  width: 60%;
  border-radius: 6px;
  background: #805AD5;
  transition: 0.3s;
}

.card-progress {
  width: 180px;
  background: white;
  height: 7px;
  overflow: hidden;
  @apply rounded-lg;
}

.card-progress .card-progress__bar{
  height: 100%;
  width: 30%;
  border-radius: 6px;
  transition: 0.3s;
}

.quater-circ{
  border-top-left-radius: 200px;
}

.add-shadow{
  box-shadow: 2px 3px 20px #6418C3;
}

